#experience {
  background-color: #ffe4e0;
}

.experience-title {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.job-heading {
  font-size: 2.5rem;
  font-family: "Trochut", cursive;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .job-heading {
    text-align: center;
  }
}

.job-description {
  text-align: left;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blueprint-logo {
  width: 110%;
}
.carleton-logo {
  max-width: 60%;
}

.rbc-logo {
  max-width: 50%;
}