#experience {
  background-color: #ffe4e0;
}

.experience-title {
  font-size: 3.3rem;
}

.job-heading {
  font-size: 2.3rem;
}

@media (max-width: 767px) {
  .job-heading {
    text-align: center;
  }
}

.job-subheading {
  font-size: 1.3rem;
}

.job-description {
  text-align: left;
}

.blueprint-logo {
  width: 110%;
}
.carleton-logo {
  max-width: 60%;
}

.rbc-logo {
  max-width: 50%;
}