.btn {
  height: 5vh;
  width: 8vw;
  display: block;
  border: 2px solid;
  border-bottom-width: 4px;
  font: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  transition: color 1s;
}

.btn-4 {
  color: #eea163;
}
.btn-4:hover {
  -webkit-animation: zigzag 1s linear infinite;
          animation: zigzag 1s linear infinite;
  background: linear-gradient(135deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(225deg, rgba(255, 21, 0, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(315deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0, linear-gradient(45deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0;
  background-size: 0.75em 0.75em;
  color: #63b0ee;
}

@-webkit-keyframes zigzag {
  100% {
    background-position: 1em 0, 1em 0, -0.75em 0, -0.75em 0;
  }
}

@keyframes zigzag {
  100% {
    background-position: 1em 0, 1em 0, -0.75em 0, -0.75em 0;
  }
}

@-webkit-keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}

@keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}

@-webkit-keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}

@keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}

@keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}