.App-header {
  background-color: #fff2e0;
  min-height: 100vh;
  min-width: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name {
  display: inline;
  font-size: 130px;
}

.school {
  font-size: 28px;
}

.links {
  font-size: 1.2rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.scroll {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}